<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yy.algorithm_lab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AdminMainActivity" />
        <activity android:name=".activities.UserMainActivity" />
        <activity android:name=".activities.SiteDistrActivity" />
        <activity android:name=".activities.SiteSearch" />
        <activity android:name=".activities.GuidlineActivity" />
        <activity android:name=".activities.shortestRoadActivity" />
        <activity android:name=".activities.ParkingActivity" />
        <activity android:name=".activities.SiteMaintainActivity" />
        <activity android:name=".activities.EdgeMaintainActivity" />
        <activity android:name=".activities.PublishActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.AddSiteActivity" />
        <activity android:name=".activities.AddEdgeActivity" />
        <activity android:name=".activities.ChangeSiteActivity" />
        <activity android:name=".activities.DeleteSiteActivity"></activity>
    </application>

</manifest>